/* 13. cart page css here */
.header_cart_page{
    border-bottom: 1px solid $grey_color;
}
.other_bread {
	padding-top: 41px;
	padding-bottom: 41px;
}

.table_desc{
    border: 1px solid $grey_color;
	margin-bottom: 60px;
	margin-top: 2px;
    & .cart_page{
        & table{
            width: 100%;
            & thead{
                & tr{
                    & th{
                        border-bottom: 3px solid $secondary_color;
                        border-right: 1px solid $grey_color;
                        color: $primary_color;
                        font-size: 16px;
                        font-weight: 600;
                        text-transform: capitalize;
                        padding: 10px;
                        text-align: center;
                    }
                }
            }
            & tbody{
                & tr{
                    & td{
                        border-bottom: 1px solid $grey_color;
                        border-right: 1px solid $grey_color;
                        text-align: center;
                        padding: 10px;
                        &.product_remove{
                            min-width: 100px;
                            & a{
                                font-size: 20px;
	                            color: $secondary_color;
                                &:hover{
                                    color:  $primary_color;
                                }
                            }
                        }
                        &.product_thumb{
                            max-width: 180px;
                       
                        }
                        &.product_name{
                            min-width: 180px;
                            & a{
                                color: $fonts_color6;
                                text-transform: capitalize;
                                font-size: 14px;
                                font-weight: 400;
                                &:hover{
                                    color:  $secondary_color;
                                }
                            }
                        }
                        
                        &.product-price{
                            min-width: 130px;
                            color: $fonts_color6;
                            font-size: 16px;
                            font-weight: 500;
                        }
                        &.product_quantity{
                            min-width: 180px;
                            & label{
                                color: $fonts_color6;
                                font-weight: 600;
                                margin-right: 5px;
                            }
                            & input{
                                width: 60px;
                                height: 40px;
                                padding: 0 5px 0 10px;
                                background: none;
                                border: 1px solid $grey_color;
                            }
                        }
                        & .product_total{
                            min-width: 120px;
                        }
                        
                    }
                }
            }
        }
    }
} 

.cart_page table thead tr:last-child th,.table_desc table tbody tr td:last-child{
    border-right: 0;
}
.cart_submit{
    text-align: right;
	padding: 12px;
    & button{
        background: $primary_color;
        border: 0;
        color: $white;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        height: 38px;
        line-height: 18px;
        padding: 10px 15px;
        text-transform: uppercase;
        cursor: pointer;
        @include transition(.3s);
        border-radius: 3px;
        &:hover{
            background:  $secondary_color;
        }
    }
}
.coupon_inner{
    padding: 10px 20px 25px;
    & p{
        color: $fonts_color;
        font-size: 13px;
        margin-bottom: 20px; 
    }
    & button{
        background: $primary_color;
        border: 0;
        color: $white;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        height: 38px;
        line-height: 18px;
        padding: 10px 15px;
        text-transform: uppercase;
        cursor: pointer;
        @include transition(.3s);
        border-radius: 3px;
        &:hover{
            background:  $secondary_color;
        }
    }
    & input{
        border: 1px solid $grey_color;
        height: 42px;
        background: none;
        padding: 0 20px;
        margin-right: 20px;
        font-size: 12px;
        color: $fonts_color;
        @media #{$large-mobile}{
           margin-bottom: 24px;
            width: 100%;
        }
        @media #{$tablet-device}{
           margin-bottom: 24px;
            width: 100%;
        }
        
    }
    & a{
        display: block;
        text-align: right;
        color:  $secondary_color;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
        border-bottom: 1px solid $grey_color;
        padding-bottom: 10px;
        border-radius: 3px;
    }
}


.coupon_code {
    &.left{
        @media #{$large-mobile}{
           margin-bottom: 59px;
        }
    }
	border: 1px solid $grey_color;
    & h3{
        color: $white;
        line-height: 36px;
        padding: 5px 15px;
        background: $primary_color;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        @media #{$large-mobile}{
           line-height: 28px;
            padding: 5px 15px;
            font-size: 15px;
        }
    }
}


.cart_subtotal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
    & p{
        color: $primary_color;
        font-weight: 600;
        font-size: 14px;
        &.cart_amount {
            font-size: 18px;
	        font-weight: 500;
             @media #{$large-mobile}{
                font-size: 14px;
            }   
        }
        & span{
            margin-right: 30px;
        }
    }
}



.checkout_btn{
    text-align: right;
    & a{
        background: $secondary_color;
        color: $white;
        font-size: 16px;
        padding: 3px 14px;
        line-height: 30px;
        font-weight: 500;
        display: inline-block;
        text-transform: capitalize;
        margin-bottom: 0;
        &:hover{
            background: $primary_color;
        }
    }
}

.coupon_area{
   margin-bottom: 60px;
}




.footer_widgets.other_widgets{
    & .footer_top{
        padding-bottom: 0;
        border-bottom: 0;
    }
    & .footer_top_inner{
       padding: 55px 0 53px;
        border-top: 1px solid $grey_color;
        border-bottom: 1px solid $grey_color;
        @media #{$desktop-device}{
            padding: 55px 0 59px;
        } 
        @media #{$tablet-device}{
            padding: 55px 0 40px;
        }
        @media #{$large-mobile}{
            padding: 55px 0 35px;
        }
    }
}

/*cart page css end*/













