/*06. newsletter area css here*/
.newletter_area{
    padding: 40px 0;
    border-top: 1px solid $grey_color;
}
.newletter_title{
    display: flex;
    align-items: center;
    @media #{$large-mobile}{
        margin-bottom: 25px;
    }
    & img{
        margin-right: 20px;
        @media #{$desktop-device}{
            margin-right: 10px;
        }
    }
}
.newletter_content{
    & h2{
        color: $fonts_color6;
        font-weight: 500;
        display: inline-block;
        font-size: 24px;
        line-height: 24px;
        margin: 0;
        text-transform: capitalize;
        @media #{$tablet-device}{
            font-size: 17px;
        }
        @media #{$large-mobile}{
          font-size: 18px;
        }
    }
    & p{
        font-size: 14px;
        color: #888888;
        margin: 13px 0 0;
        line-height: 14px;
        @media #{$desktop-device}{
            font-size: 13px;
            margin: 10px 0 0;
        }
         @media #{$tablet-device}{
            font-size: 13px;
             margin: 5px 0 0;
        }
         @media #{$large-mobile}{
            font-size: 13px;
             margin: 5px 0 0;
        }
        
    }
}
.newletter_subscribe{
    & form{
        position: relative;
        width: 550px;
        background: $body-color;
        border: 1px solid $grey_color;
        border-radius: 30px;
        float: right;
        @media #{$desktop-device}{
            width: 100%;
        }
        @media #{$tablet-device}{
            width: 100%;
        }
        @media #{$large-mobile}{
            width: 100%;
        }
        & input{
            width: 100%;
            border:0;
            background: none;
            padding: 0 150px 0 20px;
            height: 50px;
            font-size: 14px;
            color: #a5a5a5;
            @media #{$tablet-device}{
                padding: 0 125px 0 20px;
            }
            @media #{$large-mobile}{
                padding: 0 110px 0 20px;
                height: 40px;
            }
        }
        & button{
            position: absolute;
            top: 0;
            right: 0;
            border: 0;
            height: 100%;
            padding: 0 35px;
            background: $secondary_color;
            color: $body-color;
            font-size: 14px;
            font-weight: 600;
            border-radius: 0 30px 30px 0;
            @include transition(.3s);
            &:hover{
                background: $secondary_color6;
            }
             @media #{$tablet-device}{
                font-size: 13px;
                 padding: 0 25px;
            }
            @media #{$large-mobile}{
                padding: 0 15px;
            }
        }
    }
}

/*home two css here*/
.newletter_two{
    border-top: 1px solid #363636;
    & .newletter_content{
        & h2{
            color: $body-color;
        }
        & p{
            color: $grey-dark;
        }
    }
    & .newletter_subscribe{
        & form{
            background: #252525;
            border: 1px solid #363636;
        }
    }
}


/*home three css here*/
.newletter_three{
    & .newletter_subscribe{
        & form{
            & button{
                background: $secondary_color2;
                &:hover{
                    background: $fonts_color6;
                }
            }  
        }
    }
}




























