/* 03. product section css here */
.tab-content > .tab-pane.active {
	display: block;
	height: auto;
	opacity: 1;
	overflow: visible;
}
.tab-content > .tab-pane{
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;;
}
.section_title{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 23px;
    @media #{$large-mobile}{
        flex-direction: column;
        text-align: left;
        margin-bottom: 0;
        &::before{
            display: none;
        }
    }
    &::before{
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        background: $dark_grey;
        left: 0;
        top: 50%;
        transform: translatey(-50%);
    }
    & h2{
        font-size: 26px;
        line-height: 33px;
        color: $primary_color;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 0;
        padding-right: 20px;
        background: $white;
        position: relative;
        text-transform: capitalize;
        @media #{$large-mobile}{
            margin-bottom: 17px;
            font-size: 22px;
            line-height: 16px;
        }
        & span{
            font-weight: 700;
            margin-right: 8px;
        }
    }
    & ul{
        &.product_tab_button{
            margin-left: 180px;
            background: $white;
            position: relative;
            border: 1px solid $dark_grey;
            padding: 0 15px;
            border-radius: 25px;
            @media #{$tablet-device}{
                margin-left: 43px;
            }
            @media #{$large-mobile}{
                margin-left: 0;
                justify-content: center;
                margin-bottom: 20px;
            }
            & li{
                margin-right: 15px;
                &:last-child{
                    margin-right: 0;
                }
                & a{
                   font-size: 14px;
                    color: #777;
                    line-height: 30px;
                    font-weight: 500;
                    cursor: pointer;
                    position: relative;
                    display: block;
                    padding: 0 15px; 
                    font-family: $Lato;
                    &:hover{
                        color: $primary_color;
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        width: 15px;
                        height: 1px;
                        background: #d6d6d6;
                        right: -15px;
                        top: 50%;
                    }
                    &.active{
                        font-weight: 700;
                        color: $primary_color;
                    }
                }
                &:last-child{
                    & a{
                        &::before{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.product_thumb{
    position: relative;
    & a.secondary_img{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}
.product_carousel{
    & .owl-nav{
        position: absolute;
        top: -56px;
        right: 0;
        background: $white;
        display: flex;
        padding: 0 9px;
        border-radius: 25px;
        border: 1px solid $dark_grey;
        @media #{$large-mobile}{
            display: none;
        }
        & > div{
            width: 25px;
            height: 30px;
            line-height: 30px;
            font-size: 20px;
            color: #a9a9a9;
            text-align: center;
            @include transition(.3s);
            &:hover{
                color: $secondary_color;
            }
        }
    }
}

.product_content {
	margin-top: 15px;
}
.single_product{
    padding: 10px 8px 18px 18px;
    border: 1px solid $grey_color;
    border-radius: 3px;
    &:hover{
        & .product_thumb{
            & a.secondary_img{
                opacity: 1;
                visibility: visible;
            }
        }
        & .product_name{
            & h3{
                margin-bottom: 10px;
                margin-top: 0;
            }
            & p{
                opacity: 1;
                margin-bottom: 9px;
            }
        }
        & .action_links{
            opacity: 1;
            visibility: visible;
            & ul{
                & li{
                    & a{
                        
                        transform: scale(1);
                        -webkit-transform: scale(1);
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        -o-transform: scale(1);
                    }
                }
            }
        }
        & .add_to_cart{
            opacity: 1;
            visibility: visible;
            & a{
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
            }
        }
    }
    
}
.action_links{
    transition: all 0.5s ease;
    position: absolute;
    right: 0;
    top: 8px;
    opacity: 0;
    visibility: hidden;
    & ul{
        & li{
            & a{
                line-height: 36px;
                width: 36px;
                text-align: center;
                color: $primary_color;
                font-size: 22px;
                display: block;
                transition: all 0.5s ease;
                transform: scale(0.7);
                -webkit-transform: scale(0.7);
                -moz-transform: scale(0.7);
                -ms-transform: scale(0.7);
                -o-transform: scale(0.7);
                &:hover{
                    color: $secondary_color;
                }
            }   
        }
    }
}

.add_to_cart{
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    & a{
        line-height: 36px;
        width: 36px;
        text-align: center;
        color: $primary_color;
        font-size: 22px;
        display: block;
        transition: all 0.5s ease;
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        &:hover{
            color: $secondary_color;
        }
    }
}
.product_footer{
    justify-content: space-between;
}
.label_product{
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    line-height: 20px;
    background: $secondary_color;
    color: #222;
    border-radius: 5px;
    transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    & span{
        transform: skewX(20deg);
        -webkit-transform: skewX(20deg);
        -moz-transform: skewX(20deg);
        -o-transform: skewX(20deg);
        -ms-transform: skewX(20deg);
        &.label_sale{
            padding: 0 10px;
            
            border-radius: 2px;
            text-transform: capitalize;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            display: inline-block;
        }
        &.label_new{
            @extend .label_sale;
            background: $secondary_color6;
        }
    }
}
.product_name{
    & h3{
        font-size: 14px;
        text-transform: capitalize;
        margin: 15px 0 4px 0;
        font-weight: 400;
        font-family: $open-sans;
        @include transition(.3s);
        & a{
            color: $secondary_color6;
            line-height: 20px;
            display: block;
            &:hover{
                color: $primary_color;
            } 
        }
        
    }
    & p{
        line-height: 20px;
        display: block;
        opacity: 0;
        margin: 0;
        @include transition(.3s);
        & a{
            color: #555;
            text-transform: uppercase;
            display: block;
            font-size: 12px;
            font-weight: 400;
            &:hover{
                color: #222;
            }
        }
    }
}

.product_ratings{
    margin-bottom: 5px;
    & ul{
        display: flex;
        & li{
            line-height: 18px;
            & a{
                color: #FFCB15;
                font-size: 16px;
            }
        }
    }
}

.price_box{
    & span{
        
        &.regular_price{
            color: $primary_color;
            font-weight: 600;
            font-size: 18px;
            @media #{$large-mobile}{
                font-size: 16px;
            }
        }
        &.old_price{
            color: #757575;
            text-decoration: line-through;
            font-weight: 400;
            font-size: 16px;
        }
        &.current_price{
            color: $secondary_color2;
            font-weight: 600;
            font-size: 18px;
            margin-right: 5px;
            @media #{$large-mobile}{
                font-size: 16px;
            }
        }
        
    }
}



/*single featured  css here*/
.featured_categories{
    background: #f6f6f6;
    padding: 42px 0 50px;
    @media #{$large-mobile}{
        padding: 50px 0 50px;
    }
    
    & .section_title{
        & h2{
            background: #f6f6f6;
        }
    }
}
.featured_carousel{
    background: $white;
    & .owl-item{
        &.last{
            & .single_featured{
                border-right: 0;
            }
        }
    }
}
.single_featured {
	display: flex;
    padding: 19px;
    border-right: 1px solid $dark_grey;
    border-bottom: 1px solid $dark_grey;
    &:last-child{
        border-bottom: 0;
    }
}
.featured_thumb{
    width: 45%;
    @media #{$large-mobile}{
        width: 38%;
    }
    & a{
        & img{
            @include transition(.3s);
            &:hover{
                opacity: 0.7;
            }
        }
    }
}
.featured_content{
    width: 55%;
    padding-left: 20px;
    @media #{$large-mobile}{
        width: 63%;
        padding-left: 16px;
    }
    & h3{
        font-size: 18px;
        font-family: $open-sans;
        line-height: 22px;
        margin-bottom: 8px;
        & a{
            color: $primary_color;
            &:hover{
                color: $secondary_color;
            }
        }
    }
    & > a{
        color: #757575;
        text-transform: uppercase;
        margin-top: 10px;
        display: block;
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
        float: right;
        position: relative;
        padding-right: 18px;
        &:hover{
            color: $secondary_color;
        }
        &::before{
            position: absolute;
            content: "\f362";
            font-family: "Ionicons";
            font-size: 16px;
            font-weight: 400;
            margin-left: 4px;
            display: inline-block;
            line-height: inherit;
            vertical-align: top;
            color: $secondary_color;
            right: 0;
        }
    }
}

.sub_featured{
    & ul{
        & li{
            & a{
                display: block;
                color: #757575;
                line-height: 24px;
                text-transform: capitalize;
                &:hover{
                    color: $secondary_color;
                }
            }
        }
    }
}



/*small product area css here*/
.small_product{
    & .single_product{
        display: flex;
    }
    & .product_content{
        width: 55%;
        & h3{
            font-size: 14px;
            text-transform: capitalize;
            margin-bottom: 15px;
            font-weight: 400;
            font-family: "Open Sans", sans-serif;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            & a{
                color: #2777d0;
                line-height: 20px;
                display: block;
                &:hover{
                    color: $primary_color;
                }
            }
        }
    }
    & .product_thumb{
        width: 45%;
    }
    & .product_ratings{
        margin-bottom: 10px;
    }
}



/*custom product area css here*/
.custom_product_area{
    margin-bottom: 17px;
    @media #{$desktop-device}{
        margin-bottom: 24px;
    }
    @media #{$tablet-device}{
        margin-bottom: 6px;
    }
    @media #{$large-mobile}{
       margin-bottom: 2px;
    }
}
.single_product_items {
    margin-bottom: 20px;
	display: flex !important;
    & .product_content{
        width: 70%;
        padding-left: 20px;
        margin-top: 0;
        & h3{
            margin: 0 0 8px 0;
        }
    }
    & .product_thumb{
        width: 30%;
    }
}
.custom_product{
    @media #{$tablet-device}{
        margin-bottom: 8px;
    }
    @media #{$large-mobile}{
        margin-bottom: 23px;
    }
    & .section_title{
        & h2{
            font-size: 22px;
            font-weight: 700;
            @media #{$large-mobile}{
                font-size: 18px;
            }
        }
    }
}

/*call to action css here*/
.call_to_action{
    background: $secondary_color;
    padding: 42px 0;
}
.call_action_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$large-mobile}{
        flex-direction: column;
        text-align: center;
    }
}
.call_text{
    & h3{
        font-size: 30px;
        line-height: 39px;
        font-family: $open-sans;
        color: $primary_color;
        text-transform: capitalize;
        margin-bottom: 3px;
        @media #{$desktop-device}{
            font-size: 25px;
        }
        @media #{$tablet-device}{
            font-size: 20px;
            line-height: 30px;
        }
        @media #{$large-mobile}{
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 10px;
        }
        & span{
            font-weight: bold;
        }
    }
    & p{
        font-weight: 400;
        color: #757575;
        font-size: 14px;
        line-height: 20px;
        @media #{$large-mobile}{
           margin-bottom: 14px;
        }
    }
}
.link_follow{
    & ul{
        & li{
            display: inline-block;
            margin-right: 7px;
            &:last-child{
                margin-right: 0;
            }
            @media #{$tablet-device}{
                margin-right: 3px;
            }
            & a{
                color: $primary_color;
                width: 48px;
                height: 48px;
                line-height: 46px;
                font-size: 18px;
                display: block;
                text-align: center;
                border: 1px solid #42474a;
                border-radius: 50%;
                @media #{$tablet-device}{
                    width: 42px;
                    height: 42px;
                    line-height: 40px;
                }
                @media #{$large-mobile}{
                   width: 38px;
                    height: 38px;
                    line-height: 38px;
                }
                &:hover{
                    background: $primary_color;
                    color: $primary_color;
                    color: $body-color;
                }
            }
        }
    }
}

.discover_now{
    @media #{$large-mobile}{
        margin-bottom: 15px;
    }
    & a{
        line-height: 48px;
        background: $primary_color;
        color: $body-color;
        padding: 0 33px;
        display: inline-block;
        text-transform: uppercase;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        &:hover{
            background: #2b3137;
        }
        @media #{$tablet-device}{
            line-height: 43px;
            padding: 0 11px;
            font-size: 13px;
        }
        @media #{$large-mobile}{
           line-height: 38px;
            padding: 0 22px;
            font-size: 12px;
        }
    }
}
/*call to action css end*/


/*home two css here*/
.single_product_list{
    & .single_product{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.section_title{
    @media #{$large-mobile}{
        align-items: inherit;
    }
    & ul.product_tab_button{
        &.tab_button2{
            margin-left: 0;
            background: #f6f6f6;
            border: 0;
            padding: 0;
            @media #{$large-mobile}{
                flex-direction: column;
            }
            & li{
                &:first-child{
                    & a{
                        padding-left: 0;
                    }
                }
                & a{
                    font-size: 26px;
                    line-height: 33px;
                    font-family: $Lato;
                    color: #777777;
                    @media #{$tablet-device}{
                        font-size: 20px;
                        line-height: 28px;
                    }
                    @media #{$large-mobile}{
                        font-size: 20px;
                        line-height: 33px;
                        padding: 0;
                    }
                    &::before{
                        @media #{$large-mobile}{
                            display: none;
                        }
                    }
                    &:hover{
                        color: $primary_color;
                    }
                    &.active{
                        color: $primary_color;
                        font-weight: 400;
                    }
                    & span{
                        font-weight: 700;
                    }
                }
                
            }
        }
    }
}

.new_product_area{
    background: #f6f6f6;
    padding: 43px 0 50px;
}

.sample_product{
    flex: 0 0 31.333333%;
    max-width: 31.333%;
    margin-right: 20px;
    padding: 20px 15px;
    background: $body-color;
    @media #{$desktop-device}{
        flex: 0 0 30.333333%;
        max-width: 30.333%;
    }
    @media #{$tablet-device}{
        flex: 0 0 48%;
        max-width: 48%;
    }
    @media #{$large-mobile}{
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    & .product_name{
        margin-bottom: 20px;
        @media #{$desktop-device}{
            margin-top: 0;
        }
        & h3{
            margin-top: 0;
        }
    }
    & .manufacture_product{
        & p{
            opacity: 1;
        }
    }
    & .product_content{
       margin-top: 35px;
        @media #{$desktop-device}{
            margin-top: 4px;
        }
    }
    & .product_ratings {
        margin-bottom: 13px;
    }
    
}

.new_product_container{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    & .product_carousel{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        @media #{$tablet-device}{
            flex: 0 0 49%;
            max-width: 49%;
        }
        @media #{$large-mobile}{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.product_bg{
    & .single_product{
        background: $body-color;
        border: 0;
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    
}


.quantity_progress {
	display: flex;
	justify-content: space-between;
    margin-top: 20px;
    & p{
        margin-bottom: 10px;
        text-transform: capitalize;
        color: $primary_color;
        line-height: 20px;
        & span{
            font-weight: 700;
        }
    }
}

.bar_percent{
    height: 10px;
    background: #f0f0f0;
    width: 100%;
    border-radius: 25px;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        width: 97%;
        height: 10px;
        left: 0;
        top: 0;
        background: $secondary_color;
        border-radius: 25px 0 0 25px;
    }
}




/*home three css here*/
.featured_c_three{
    @media #{$large-mobile}{
        margin-bottom: 28px;
    }
    & .featured_container{
        border: 1px solid #f0f0f0;
    }
    padding: 0;
    background: none;
    & .section_title{
        & h2{
            background: $body-color;
        }
    }
}


/*home four css here*/
.featured_four{
    border: 1px solid $grey_color;
    & .single_featured{
        flex-direction: column;
        border: 0;
    }
    & .featured_thumb{
        width: 100%;
    }
    & .featured_content{
        width: 100%;
        padding-left: 0;
        & > a{
            float: left;
        }
    }
}

.featured_c_four{
    background: inherit;
    padding: 0;
    & .section_title{
        & h2{
            background: $body-color;
        }
    }
}













