/* 10. shop page css here */
.header_shop{
    border-bottom: 1px solid $grey_color;
    & .header_top{
        padding: 7px 0;
    }
    & .header_middel{
        padding: 40px 0 18px;
        @media #{$large-mobile}{
            padding: 21px 0 18px;
        }
    }
    & .header_bottom {
        padding: 0;
        
    }
}
.canvas_padding{
    margin-bottom: 0;
}

.breadcrumb_content{
    padding: 22px 0;
    & ul{
        & li{
            display: inline-block;
            text-transform: capitalize;
            font-size: 14px;
            margin-right: 3px;
            padding-right: 13px;
            color: $primary_color;
            position: relative;
            &::before{
                position: absolute;
                content: "/";
                right: 0;
                top: 50%;
                transform: translatey(-50%);
            }
            &:last-child{
                margin-right: 0;
                &::before{
                    display: none;
                }
            }
            & a{
                color: $secondary_color10;
                &:hover{
                    color:  $secondary_color;
                }
            }
        }
    }
}

.sidebar_widget{
    & .single_banner{
        border: 0;
        @media #{$large-mobile}{
          margin-bottom: 0;
        }
        & a{
            @media #{$large-mobile}{
              width: 100%;
            }
            & img{
                @media #{$large-mobile}{
                  width: 100%;
                }
            }
        }
    }
}

.widget_list{
    margin-bottom: 29px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 35px;
    &:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
    & h2{
        color:$primary_color;
        font-size: 16px;
        margin: 0 0 15px;
        padding: 0 0 5px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 24px;
    }
    & > ul{
        & > li{
            margin-bottom: 8px;
            position: relative;
            &:last-child{
                margin-bottom: 0;
            }
            & input{
                position: absolute;
                left: 3px;
                top: 50%;
                transform: translatey(-50%);
                opacity: 0;
                cursor: pointer;
                z-index: 999;
                &:checked ~ .checkmark{
                    background-color: $secondary_color;
                    border: 1px solid $secondary_color;
                    &::before{
                        display: block;
                    }
                }
            }
            & > a{
                color: $primary_color;
                font-size: 14px;
                display: block;
                line-height: 27px;
                margin-left: 30px;
                &:hover{
                    color: $secondary_color;
                }
            }
            & span{
                &.checkmark{
                    height: 17px;
                    width: 17px;
                    border: 1px solid #dfdfdf;
                    border-radius: 3px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translatey(-50%);
                    background: #f4f4f4;
                     @include transition(.3s);
                    &::before{
                        left: 5px;
                        top: 3px;
                        width: 5px;
                        height: 8px;
                        border: solid white;
                        border-top-width: medium;
                        border-right-width: medium;
                        border-bottom-width: medium;
                        border-left-width: medium;
                        border-width: 0 2px 2px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                        content: "";
                        position: absolute;
                        display: none;
                       
                    }
                }
            }
            
        }
    }
}



.ui-slider-horizontal .ui-slider-range {
	background: $secondary_color;
	height: 5px;
}

.ui-slider-horizontal {
	height: 3px;
	background: #dbdbdb;
	border: none;
	width: 92%;
	margin: 0 auto;
    margin-bottom: 22px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: $body-color;
	border: 0;
	border-radius: 0;
	width: 19px;
    height: 19px;
    top: -7px;
	cursor: pointer;
    border-radius: 50%;
    border: 5px solid $secondary_color;
}

.widget_list.widget_filter {
    & form{
        padding-top: 10px;
        & input {
            background: none;
            border: none;
            font-size: 12px;
            float: right;
            text-align: right;
            line-height: 31px;
            @media #{$desktop-device }{
                width: 65px;
            }
        }
        & button{
            height: 30px;
            line-height: 30px;
            padding: 0 20px;
            text-transform: capitalize;
            color: $white;
            background: $primary_color;
            border: 0;
            border-radius: 30px;
            @include transition(.3s);
            &:hover{
                background: $secondary_color;
            }
        }
    }
    
}

.shop_sidebar_banner{
    @media #{$tablet-device}{
        text-align: center;
    }
    @media #{$large-mobile}{
        text-align: center;
    }
    & a{
        & img{
            &:hover{
                opacity: 0.7;
            }
        }
    }
}


.shop_toolbar {
	display: flex;
    align-items: center;
	justify-content: space-between;
    border: 1px solid #e5e5e5;
    padding: 8px 10px;
    margin: 0 0 40px;
    @media #{$large-mobile}{
      flex-direction: column-reverse;
       padding: 10px 10px 18px;
    }
    
}


.select_option {
	display: flex;
	align-items: center;
    @media #{$large-mobile}{
      flex-direction: column;
    }
    & .nice-select {
        border: 0;
        height: 30px;
        line-height: 29px;
        & ul.list{
            top: 114%;
            right: 0;
            width: 200px;
            max-height: 200px;
            overflow: auto;
        }
    }
}

.shop_title{
    margin-bottom: 20px;
    & h1{
        color: $fonts_color6;
        font-size: 33px;
        text-transform: capitalize;
        margin-bottom: 0;
        font-weight: 500;
    }
}

.niceselect_option{
    @media #{$large-mobile}{
       margin-bottom: 16px;
    }
}

.page_amount{
    @media #{$large-mobile}{
       margin-bottom: 12px;
    }
    & p{
        color: $fonts_color;
        @media #{$large-mobile}{
            padding-left: 0;
            margin-left: 0;
            border-left: 0;
        }
    }
}

.list_button{
    & ul{
        & li{
            margin-right: 12px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                
                &:hover{
                    color: $secondary_color;
                }
                & i{
                     margin-right: 5px;
                    border-radius: 100%;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;
                }
                &.active{
                    color: $secondary_color;
                    & i{
                        background: $secondary_color;
                        color: $white;
                    }
                }
            }
        }
    }
}




.product_ratting{
    & ul{
        & li{
            display: inline-block;
            & a{
                color: $secondary_color;
            }
        }
    }
}

.product_list_item{
    & .product_thumb{
        @media #{$large-mobile}{
            margin-bottom: 18px;
        }
    }
    & .product_content{
        & h3{
            margin-bottom: 10px;
        }
    }
    & .product_ratting{
        margin-bottom: 10px;
    }
}



.pagination{
    @media #{$large-mobile}{
        margin-top: 19px;
    }
    & ul{
        & li{
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background: #f1f1f1;
            color: $fonts_color6;
            border-radius: 3px;
            margin-left: 3px;
            &:first-child{
                margin-left: 0;
            }
            & a{
              display: block;
                border-radius: 3px;
                &:hover{
                   background: $secondary_color;
                    color: $white; 
                }
                
            }
            &.current{
                background: $secondary_color;
                color: $white;
            }
            &.next{
                width: 40px;
            }
        }
    }
}



.shop_toolbar.t_bottom {
    justify-content: center;
    margin-bottom: 0;
    margin-top: 30px;
    @media #{$tablet-device}{
        margin-bottom: 50px;
    }
    @media #{$large-mobile}{
        padding: 15px 10px 15px;
        margin-bottom: 50px;
    }
    & .pagination{
         @media #{$large-mobile}{
            margin-top: 0;
        }
    }
}



.shop_reverse{
    & .tab-content{
        & .row{
        @media #{$tablet-device}{
          flex-direction: row;
        }
        @media #{$large-mobile}{
          flex-direction: row;
        }
        }
    }
    
}
.grid_view{
    
    & .quick_button{
        @media #{$desktop-device}{
          bottom: 5px;
        }
        & a{
           @media #{$desktop-device}{
              line-height: 37px;
            } 
        }
    }
    & .action_button{
        & ul{
            & li{
                & a{
                    @media #{$desktop-device}{
                        width: 43px;
                        height: 40px;
                        line-height: 38px;
                    } 
                    
                }
            }
        }
    }
    & .hover_action{
        & a{
            width: 43px;
            height: 40px;
            line-height: 38px;
        }
    }
}


.shop_area{
    margin-bottom: 50px;
    margin-top: 24px;
    
}







/* shop page css here*/
.shop_banner {
	margin-bottom: 44px;
}
.shop_reverse{
    & .row{
        @media #{$tablet-device}{
          flex-direction: column-reverse;
        }
        @media #{$large-mobile}{
          flex-direction: column-reverse;
        }
    }
}
.row.shop_wrapper {
	flex-direction: row;
}
.shop_toolbar_btn{
    & > button{
        margin-right: 10px;
        border: 0;
	    background: inherit;
        &.btn-grid-3{
            background: url(../img/icon/bkg_grid.png) no-repeat scroll center center;
            width: 20px;
            height: 20px;
            &.active{
                background: url(../img/icon/bkg_grid_hover.png) no-repeat scroll center center !important;
            }
        }
        &.btn-grid-4{
            background: url(../img/icon/bkg_grid4.png) no-repeat scroll center center;
            width: 26px;
            height: 22px;
            @media #{$desktop-device}{
                display: none;
            }
            @media #{$tablet-device}{
                display: none;
            }
            &.active{
                background: url(../img/icon/bkg_grid4_hover.png) no-repeat scroll center center !important;
            }
        }
        &.btn-list{
            background: url(../img/icon/bkg_list.png) no-repeat scroll center center;
            width: 20px;
            height: 20px;
            &.active{
                background: url(../img/icon/bkg_list_hover.png) no-repeat scroll center center !important;
            }
        }
    }
	
}
.product_content.list_content {
	display: none;
}
.grid_list{
    & .grid_name{
        display: none;
    }
    & .action_links{
        display: none;
    }
}
.grid_list .product_content.grid_content {
  display: none;
}
.grid_list .product_content.list_content {
      display: block;
      min-width: 0 0 66.666667%;
      display: flex;
    align-items: center;
    @media #{$large-mobile}{
        flex-direction: column;
    }
    @media #{$tablet-device}{
        flex: 0 0 58.333333%;
        min-width: 58.333333%;
    }
     @media #{$large-mobile}{
        flex: 0 0 100%;
        min-width: 100%;
         margin-left: 0;
    }
    & .product_name{
        & h3{
            margin: 0 0 12px;
        }
    }
    & .product_ratings {
        margin-bottom: 8px;
    }
}
.text_available{
    margin-bottom: 13px;
    & p{
        color: #757575;
        font-size: 14px;
        text-transform: capitalize;
        @media #{$tablet-device}{
            font-size: 13px;
        }
        & span{
            color: #67c10a;
        }
    }
}
.cart_links_btn{
    margin-bottom: 20px;
    & a{
        line-height: 38px;
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        color: $primary_color;
        text-transform: capitalize;
        background: $secondary_color;
        display: block;
        text-align: center;
        padding: 0 30px;
        border-radius: 5px;
        @media #{$tablet-device}{
            padding: 0 18px;
        }
        &:hover{
            background: $primary_color;
            color: $body-color;
        }
    }
}
.left_caption {
	width: 62%;
    padding-right: 20px;
    border-right: 1px solid #ddd;
    margin-right: 20px;
    @media #{$large-mobile}{
        width: 100%;
        padding-right: 0;
        border-right: 0;
        margin-right: 0;
    }
}
.right_caption{
    @media #{$large-mobile}{
        width: 100%;
    }
    & .price_box{
        margin-bottom: 20px;
        & span{
            font-size: 20px;
            @media #{$tablet-device}{
                font-size: 15px;
            }
        }
    }
    & .product_name{
        & h3{
            & span{
                color: $fonts_color6;
                margin-right: 5px;
            }
            & a{
                display: inline-block;
                color: #555;
                &:hover{
                    color: $secondary_color;
                }
            }
        }
    }
}
.action_links_btn{
    text-align: center;
    & ul{
        & li{
            display: inline-block;
            & a{
                line-height: 36px;
                width: 36px;
                text-align: center;
                font-size: 22px;
                color: $primary_color;
                display: block;
                &:hover{
                    color: $secondary_color;
                }
            }
        }
    }
}
.grid_list {
    & .single_product{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 20px;  
        @media #{$large-mobile}{
            flex-direction: column;
            padding: 10px 18px 18px 18px;
        }
    }
 
}
.grid_list .product_thumb {
  margin-bottom: 0;
  min-width: 33.333333%;
  margin-right: 15px;
    @media #{$tablet-device}{
        flex: 0 0 41.666667%;
        min-width: 41.666667%;
    }
     @media #{$large-mobile}{
        flex: 0 0 100%;
        min-width: 100%;
         margin-right: 0;
         margin-bottom: 25px;
    }
}
.col-cust-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: max-width;
    padding-right: 15px;
    padding-left: 15px;
    @media #{$tablet-device}{
        -ms-flex: 0 0 33%;
	    flex: 0 0 33%;
    }
    @media #{$large-mobile}{
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media #{$small-mobile}{
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}
.shop_wrapper > div {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.shop_toolbar_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ddd;
	padding: 8px 10px;
	margin: 0 0 30px;
    @media #{$large-mobile}{
        flex-direction: column;
        padding: 15px 10px 5px;
    }
}

.shop_toolbar_btn{
    @media #{$large-mobile}{
        margin-bottom: 20px;
    }
}

.shop_wrapper{
    & .single_product{
        position: relative;
        margin-bottom: 20px;
    }
    & .label_product{
        bottom: 40px;
    }
    &.grid_4{
        & .price_box{
            & span{
                &.current_price{
                    font-size: 15px;
                    margin-right: 3px;
                }
                &.old_price{
                    font-size: 14px;
                }
            }
        }  
    }
   
}
.widget_inner{
    background: #f4f4f4;
    border: 1px solid #e1e1e1;
    padding: 20px;
    margin-bottom: 50px;
}
/* shop page css end*/

/*shop fullwidth css here*/
.shop_fullwidth{
    margin-top: 16px;
    @media #{$tablet-device}{
        margin-bottom: 0;
    }
    @media #{$large-mobile}{
        margin-bottom: 0;
    }
}







